@font-face{
    font-family: CovesBold;
    src: url(Coves\ Bold.otf)
}
@font-face{
    font-family: CovesLight;
    src: url(Coves\ Light.otf)
}
.imitabotao{
    display: inline;
    cursor: pointer;
    font-family: CovesBold;
}
#btthome{
    background: none;
    border: none;
    font-family: CovesBold;
    font-size: large;
    cursor: pointer;
}
#bttlastn{
    background: none;
    border: none;
    font-family: CovesBold;
    font-size: large;
    cursor: pointer;
}
#bttsign{
    background: none;
    border: none;
    font-family: CovesBold;
    font-size: large;
    cursor: pointer;
}
#btthome:hover{
    color: #ffffff;
}
#bttlastn:hover{
    color: #ffffff;
}
#bttsign:hover{
    color: #ffffff;
}
.imitabotao:hover{
    color: #ffffff;
}
.barra{
    display: inline;
}
.dp{
    display: inline;
    padding: 13px;
    border-left: 0px;
    margin-left: 0px;
    background-color: #00000068;
}
body{
    background-color: aquamarine;
}