@font-face{
    font-family: CovesBold;
    src: url(/Fontes/Coves\ Bold.otf)
}
@font-face{
    font-family: CovesLight;
    src: url(/Fontes/Coves\ Light.otf)
}
@font-face{
    font-family: Agus-Sans;
    src: url(/Fontes/Agus\ Sans\ Regular\ 400.otf)
}
@font-face{
    font-family: Cinzel;
    src: url(/Fontes/Cinzel-Bold.otf)
}
@font-face{
    font-family: GothamRnd;
    src: url(/Fontes/GothamRnd-Bold.otf)
}
::-webkit-scrollbar{
    display: none;
}

#body{
    background-color: #191919;
    color: #ffffff;
    font-family: CovesLight;
    line-height: 27px;
    margin: 0;
    padding: 0;
    border: 0;
}

/*Menu*/

.imitabotao{
    display: flex;
    cursor: pointer;
    font-family: CovesBold;
}
.menu{
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    margin: -8px;
    position: absolute;
    background-color: #000000;
}
.buttons{
    justify-content: end;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

/*Tema Escuro*/

#body.escuro{
    background-color: #c8c8c8;
    color: #000000;
}
.menu.escuro{
    background-color: #ffffff;
}
#btthome.escuro,
#bttenig.escuro,
#bttmist.escuro,
#bttobje.escuro,
#bttjoin.escuro{
    color: #000000;
}
#chk{
    opacity: 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*Botões*/

#btthome,
#bttenig,
#bttmist,
#bttobje,
#bttjoin{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    color: #ffffff;
    font-family: CovesBold;
}
#btthome:hover,
#bttenig:hover,
#bttmist:hover,
#bttobje:hover,
#bttjoin:hover{
    animation: piscar 0.5s infinite alternate-reverse;
    margin-right: 20px;
    margin-left: 20px;
}
@keyframes piscar{
    from {
        color: #000000;
        border-bottom: 2px solid #000000;
    }
    to {
        color: #a5a5a5;
        border-bottom: 2px solid #a5a5a5;
    }
}

/*Conteúdo*/

.home,
.enig,
.mist,
.obje,
.join{
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    background-color: #00000064;
    border-radius: 5px;
    background-position: center;
    padding: 10px;
    display: none;
    font-weight: 200;
}

@media (max-width: 580px){
    .home,
    .enig,
    .mist,
    .obje,
    .join{
        margin-top: 180px;
    }
}

p{
    padding: 3px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
.img{
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    color: indigo;
}
.icon{
    width: 26px;
    cursor: pointer;
}
